.banner {
	background: url(./img/banner.jpg) no-repeat center center;
	background-size: cover;
	color: rgb(255, 255, 255);
	padding-top: 10%;
	padding-bottom: 20%;
	height: 680px;
	font-weight: bold;
}
